.faq-plain-input{
  background: none;
  border: none;
  font-size: 1rem;
  padding: 12px 16px;
  outline: none;
  background-color: var(--gray);
  border-radius: 10px;
  color: var(--input-text-color);

  width: 100%;
}