.faq-title-text{
  font-family: var(--font-secondary);
  font-weight: 300;
  font-style: italic;
  font-size: 48px;
  text-align: center;
}

.faq-title-text span{
  color: var(--orange);
  animation: blinking 1s infinite step-start;
}

@keyframes blinking{
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width:768px){
  .faq-title-text{
    font-size: 40px;
  }
}