.main-layout{
  margin-bottom: 2rem;
}

.page-header-box{
  position: relative;
  margin-bottom: 125px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header-slide-wrap{
  position: relative;
  transition: margin-top var(--transition);
  width: 100%;
}

.slide-down-btn{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 15px;
  transition: var(--transition);
}

.slide-down-btn.collapse{
  transform: rotate(-180deg);
  transform-origin: center;
}

/* SIDEBAR & MAIN */
.sidebar-main-container{
  display: flex;
  gap: 50px;
}

.sidebar-container{
  flex: 1;
}

.main-container{
  flex: 3;
}

@media only screen and (max-width:1000px){
  .sidebar-main-container{
    flex-direction: column;
  }
}