*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li,a{
  text-decoration: none;
  list-style: none;
}

button{
  background: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

img{
  display: block;
}

body{
  background-color: var(--bg-primary);
  color: var(--white);
  font-family: var(--font-primary);
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}