*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.modal-open{
  overflow: hidden;
}

ul,li,a{
  text-decoration: none;
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

h1 { font-size: 36px; } h2 { font-size: 32px; } h3 { font-size: 28px; } h4 { font-size: 24px; } h5 { font-size: 20px; } h6 { font-size: 18px; }

.section-title{margin-bottom: 20px;}

button{
  background: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

img{
  display: block;
}

html{scroll-behavior: smooth;}

body{
  background-color: var(--bg-primary);
  color: var(--white);
  font-family: var(--font-primary);
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--gray) inset;
  box-shadow: 0 0 0px 1000px  var(--gray) inset;
  -webkit-text-fill-color: var(--input-text-color); /* Pastikan teks mengikuti warna aslinya */
}