:root{
  --bg-primary: #0E1117;
  --bg-secondary: #000;
  --gradient-red: #FF6A6A;
  --gradient-yellow: #FFFD80;
  --gradient-red-t-yellow: linear-gradient(89.88deg, #FF6A6A 0.89%,#FFFD80 99.9%);
  --gradient-yellow-t-red: linear-gradient(90deg, #FFFD80 0%, #FF6A6A 100%);
  
  

  --white: #fff;
  --black: #000;
  --orange: #ff831d;
  --red: #FF6A6A;
  --yellow: #FFFD80;
  --yellow-05: rgba(255, 253, 128, 0.3);
  --input-text-color: rgba(217, 217, 217, 1);
  --gray: rgba(33, 34, 35, 1);

  --font-primary: "Montserrat";
  --font-secondary: "roboto";

  --transition: 0.4s;
}