.alert-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
}

.alert-message{
  font-weight: 500;
  position: relative;
  font-size: 1.4rem;
}

.alert-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}