.cat-accordion{
  overflow: hidden;
}

.cat-accordion-label{
  display: flex;
  gap: 5px;

  cursor: pointer;

  font-weight: 600;
  font-size: 18px;
}

.cat-label-link{
  transition: var(--transition);
  color: var(--white);
  padding: 12px 16px;
  flex: 1;
}

.cat-accordion-chevron{
  transition: var(--transition);
  display: block;
  padding: 12px 16px;
}

.cat-accordion-chevron:hover{
  color: rgba(255,255,255,0.7);
}

.cat-accordion.show .cat-label-link, .cat-label-link:hover{
  transform: translateX(5px);
}

.cat-accordion.show .cat-accordion-chevron{
  transform: rotate(-180deg);
  transform-origin: center;
}

.cat-accordion-content{
  padding: 0 16px;
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.4s;
}

.cat-accordion-content > ul{
  overflow: hidden;
}

.cat-accordion.show .cat-accordion-content{
  grid-template-rows: 1fr;
  padding-bottom: 12px;
}

.sub-cat-lists{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-cat-lists-link{
  color: var(--white);
  width: 100%;
  display: block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 1rem;

  /* overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis; */

  text-align: end;
}

.sub-cat-lists-link:hover, .sub-cat-lists-link.active{
  transform: translateX(-5px);
  color: rgba(255,255,255,0.8);
}